/** Global Styling **/
@font-face {
    font-family: "OpenSans_Regular";

    src: url("../fonts/OpenSans/Open_Sans_Normal.eot"); /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/Open_Sans_Normal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans/Open_Sans_Normal.woff2") format("woff2"), /* Pretty Modern Browsers */
    url("../fonts/OpenSans/Open_Sans_Normal.woff") format("woff"),
    url("../fonts/OpenSans/Open_Sans_Normal.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSans/Open_Sans_Normal.svg#OpenSans_Regular") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "OpenSans_Bold";

    src: url("../fonts/OpenSans/Open_Sans_Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/Open_Sans_Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans/Open_Sans_Bold.woff2") format("woff2"), /* Pretty Modern Browsers */
    url("../fonts/OpenSans/Open_Sans_Bold.woff") format("woff"),
    url("../fonts/OpenSans/Open_Sans_Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSans/Open_Sans_Bold.svg#OpenSans_Regular") format("svg"); /* Legacy iOS */
}

/* Taken from Bootstrap */
.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

/** Main Styling (for 1080p) **/
.body {
    background-color: #f0f0f0;
    font-family: "OpenSans_Regular", Arial;
}

.top-wrapper {
    background: #717171 url("../images/background_tile.png");
}

.fullscreen .top-wrapper {
    height: 100%;
    width: 100%;
}

.header {
    color: #fff;
    text-align: center;
}

.fullscreen .header {
    display: none;
}

.header__logo {
    width:100%;
    height:75px;
    margin: 10px 0 0;
    background: url("../images/meg_logo.png") no-repeat;
    background-position: center;
    background-size: contain;
    float:left;
}

.header__lowbandwidth {
    font-size: 14px;
}

.header__preparedfor {
    font-size: 18px;
}

.header__preparedfor--name {
    font-family: "OpenSans_Bold", Arial;
    font-weight: bold;
}

.social--top {
    background-color: rgba(31, 31, 31, 0.3);
}

.social--bottom {
    text-align: center;
}

.social__icon {
    --social-bgX: 0%;
    --social-bgY: 0%;

    background: url("../images/social_icons.png") no-repeat;
    background-position: var(--social-bgX) var(--social-bgY);
    background-size: 700% 400%;
    border: 0;
    cursor: pointer;
}

.social--top .social__icon,
.fullscreen .social--top .social__icon {
    width: 45px;
    height: 45px;
}

.social--top-right .social__icon {
    margin-right: 7px;
}

.social--top-left .social__icon {
    margin-left: 7px;
}

.social--top .social__icon--expand {
    margin-right: 0;
    margin-left: 0;
}

.social--bottom .social__icon {
    margin-right: 10px;
    width: 36px;
    height: 36px;
    background-position-y: 66.666%;
    --social-bgY: 66.666%;
}

.social--top .social__icon:hover,
.social--top .social__icon:active,
.social--top .focusable.social__icon:focus,
.social--bottom .social__icon:hover,
.social--bottom .social__icon:active,
.social--bottom .focusable.social__icon:focus {
    background-position-y: 33.333%;
    --social-bgY: 33.333%;
}

.social__icon--facebook {
    background-position-x: 0;
    --social-bgX: 0;
}

.social__icon--twitter {
    background-position-x: 16.666%;
    --social-bgX: 16.666%;
}

.social__icon--googleplus {
    background-position-x: 33.333%;
    --social-bgX: 33.333%;
}

.social__icon--email {
    background-position-x: 50%;
    --social-bgX: 50%;
}

.social__icon--link {
    background-position-x: 66.666%;
    --social-bgX: 66.666%;
}

.social__icon--collapse {
    background-position-x: 83.333%;
    --social-bgX: 83.333%;
}

.social__icon--expand {
    background-position-x: 100%;
    --social-bgX: 100%;
}

.cta--side,
.promo--side {
    background-color: #2e2e2e;
}

.cta__button {
    color: #fff;
    background-color: #0072b8;
    border: 0;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
}

.cta--side.cta--5 .cta__button {
    height: calc(20% - 1px);
    margin-bottom: 1px;
}

.cta--side.cta--5 .cta__button:last-child {
    height:20%;
    margin-bottom: 0;
}

.cta__button:hover,
.cta__button:active,
.focusable.cta__button:focus {
    background-color: #00436e;
}

.fullscreen .cta--side .cta__button {
    width: 230%;
    left: -130%;

    -webkit-transition: left 0.3s ease-in-out;
       -moz-transition: left 0.3s ease-in-out;
         -o-transition: left 0.3s ease-in-out;
            transition: left 0.3s ease-in-out;
}

.fullscreen .cta--side .cta__button:hover {
    left: 0%;
}

.fullscreen .cta--side .cta__label {
    font-size: 22px;
    line-height: 60px;
    opacity: 0;

    -webkit-transition: opacity 0.3s ease-in-out;
       -moz-transition: opacity 0.3s ease-in-out;
         -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
}

.fullscreen .cta--side .cta__button:hover .cta__label {
    opacity: 1;
}

.cta__icon {
    --cta-bgX: 0%;
    --cta-bgY: 0%;

    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 60px;
    height: 60px;
    background: url("../images/cta_icons.png") no-repeat;
    background-position: var(--cta-bgX) var(--cta-bgY);
    background-size: 500% 300%;
}

.fullscreen .cta__icon {
    margin-bottom: 0;
    margin-right: calc(((50/230) * 100%) - 30px);
    float: right;
}

.cta__icon--contact {
    background-position-x: 0;
    --cta-bgX: 0;
}

.cta__icon--website {
    background-position-x: 25%;
    --cta-bgX: 25%;
}

.cta__icon--email {
    background-position-x: 50%;
    --cta-bgX: 50%;
}

.cta__icon--save {
    background-position-x: 75%;
    --cta-bgX: 75%;
}

.cta__icon--share {
    background-position-x: 100%;
    --cta-bgX: 100%;
}

.player {
    background-color: #dbdbdb;
}

.promo__item {
    background-color: #fff;
}

.promo--side .promo__image {
    background-size: 200% 100%;
}

.promo--side .promo__link:hover .promo__image,
.promo--side .promo__link:active .promo__image,
.promo--side .focusable.promo__link:focus .promo__image {
    background-position: 100% 0;
}

.promo--bottom .promo__image {
    background-size: 100% 200%;
}

.promo__link {
    color: #0f0f0f;
    text-decoration: none;
}

.promo__link:hover,
.promo__link:active,
.focusable.promo__link:focus {
    text-decoration: underline;
}

.timeline {
    color: #fff;
    background-color: #1f1f1f;
    font-size: 20px;
}

.timeline__cover {
    background: #00436e;
}

.timeline__controls {
    background-color: #2e2e2e;
    border-color: #dbdbdb;
}

.timeline__button {
    background-color: #2e2e2e;
    cursor: pointer;
}

.timeline__button--skip-back,
.timeline__button--skip-forward,
.timeline__button--play-pause {
    width: 90px;
    color : red;
}

.fullscreen .timeline__button--skip-back,
.fullscreen .timeline__button--skip-forward,
.fullscreen .timeline__button--play-pause {
    width: 33.333%;
}

.timeline__button--settings,
.timeline__button--fullscreen {
    width: 50px;
    text-align: center;
}

.timeline__button--volume {
    width: 45px;
}

.timeline__button-icon {
    --timeline-bgX: 0%;
    --timeline-bgY: 50%;

    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url("../images/timeline_controls.png") no-repeat;
    background-position-y: 50%;
    background-position: var(--timeline-bgX) var(--timeline-bgY);
    background-size: 2700% 300%;
}

.fullscreen .timeline__button-icon {
    width: 28px;
    height: 28px;
}

.timeline__button:hover .timeline__button-icon,
.timeline__button:active .timeline__button-icon,
.focusable.timeline__button:focus .timeline__button-icon {
    background-position-y: 100%;
    --timeline-bgY: 100%;
}

.timeline__button-icon--skip-back {
    margin-right: 10px;
    background-position-x: calc((100%/26) * 2);
    --timeline-bgX: calc((100%/26) * 2);
}

.timeline__button-icon--play {
    width: 35px;
    height: 35px;
    background-position-x: calc((100%/26) * 0);
    --timeline-bgX: calc((100%/26) * 0);
}

.timeline__button-icon--pause {
    width: 35px;
    height: 35px;
    background-position-x: calc((100%/26) * 1);
    --timeline-bgX: calc((100%/26) * 1);
}

.fullscreen .timeline__button-icon--play,
.fullscreen .timeline__button-icon--pause {
    width: 32px;
    height: 32px;
}

.timeline__button-icon--skip-forward {
    margin-left: 10px;
    background-position-x: calc((100%/26) * 3);
    --timeline-bgX: calc((100%/26) * 3);
}

.timeline__button-icon--settings {
    background-position-x: calc((100%/26) * 5);
    --timeline-bgX: calc((100%/26) * 5);
}

.timeline__button-icon--settings--sd {
    background-position-x: calc((100%/26) * 6);
    --timeline-bgX: calc((100%/26) * 6);
}

.timeline__button-icon--settings--hd {
    background-position-x: calc((100%/26) * 7);
    --timeline-bgX: calc((100%/26) * 7);
}

.timeline__button-icon--settings--4k {
    background-position-x: calc((100%/26) * 8);
    --timeline-bgX: calc((100%/26) * 8);
}

.timeline__button-icon--sd {
    background-position-x: calc((100%/26) * 9);
    --timeline-bgX: calc((100%/26) * 9);
}

.timeline__button-icon--hd {
    background-position-x: calc((100%/26) * 10);
    --timeline-bgX: calc((100%/26) * 10);
}

.timeline__button-icon--4k {
    background-position-x: calc((100%/26) * 11);
    --timeline-bgX: calc((100%/26) * 11);
}

.timeline__button-icon--language {
    background-position-x: calc((100%/26) * 12);
    --timeline-bgX: calc((100%/26) * 12);
}

.timeline__button-icon--cc {
    background-position-x: calc((100%/26) * 13);
    --timeline-bgX: calc((100%/26) * 13);
}

.timeline__button-icon--tick {
    background-position-x: calc((100%/26) * 14);
    --timeline-bgX: calc((100%/26) * 14);
}

.timeline__button-icon--right-arrow {
    background-position-x: calc((100%/26) * 15);
    --timeline-bgX: calc((100%/26) * 15);
}

.timeline__button-icon--left-arrow {
    background-position-x: calc((100%/26) * 16);
    --timeline-bgX: calc((100%/26) * 16);
}

.timeline__button-icon--fullscreen {
    background-position-x: calc((100%/26) * 17);
    --timeline-bgX: calc((100%/26) * 17);
}

.timeline__button-icon--fullscreen-in {
    background-position-x: calc((100%/26) * 18);
    --timeline-bgX: calc((100%/26) * 18);
}

.timeline__button-icon--volume-0 {
    background-position-x: calc((100%/26) * 19);
    --timeline-bgX: calc((100%/26) * 19);
}

.timeline__button-icon--volume-1 {
    background-position-x: calc((100%/26) * 20);
    --timeline-bgX: calc((100%/26) * 20);
}

.timeline__button-icon--volume-2 {
    background-position-x: calc((100%/26) * 21);
    --timeline-bgX: calc((100%/26) * 21);
}

.timeline__button-icon--volume-3 {
    background-position-x: calc((100%/26) * 22);
    --timeline-bgX: calc((100%/26) * 22);
}

.timeline__buffer-section-inner {
    background-color: #717171;
}

.timeline-progress-hover {
    background-color: #00436e;
}

.timeline-progress {
    background-color: #0072b8;
}

.timeline-chapters--seen {
    color: #bfbfbf;
}

.timeline-contrast .timeline-chapters__label {
    color: #2e2e2e;
}

.timeline-contrast {
    background-color: #4095ca;
}

.timeline-contrast-hover {
    background-color: #407292;
}

.timeline-chapters__chapter,
.fullscreen .timeline-chapters__chapter {
    border-right: 2px solid #c0c0c0;
}

.timeline-chapters__chapter:last-child {
    border: none;
}

.timeline-volume__bg {
    background-color: #717171;
    border-radius: 5px;
}

.timeline-volume__level {
    background-color: #0072b8;
    border-radius: 5px;
}

.timeline-volume__ball {
    background-color: #9b9b9b;
    border-radius: 10px;
}

.timeline-volume__ball:hover,
.timeline-volume__ball:active,
.focusable.timeline-volume__ball:focus {
    background-color: #fff;
}

.timeline__settings-popout,
.timeline__settings-quality,
.timeline__settings-language,
.timeline__settings-cc {
    position: absolute;
    top: -209px;
    right: 340px;
    padding: 16px;
    width: 220px;
    height: 210px;
    background-color: #2e2e2e;
    font-size: 17px;
}

.fullscreen .timeline__settings-popout,
.fullscreen .timeline__settings-quality,
.fullscreen .timeline__settings-language,
.fullscreen .timeline__settings-cc {
    right: calc(100% - 65px);
}

.fullscreen .timeline--no-volume .timeline__settings-popout,
.fullscreen .timeline--no-volume .timeline__settings-quality,
.fullscreen .timeline--no-volume .timeline__settings-language,
.fullscreen .timeline--no-volume .timeline__settings-cc {
    right: 50%;
}

.timeline--no-volume .timeline__settings-popout,
.timeline--no-volume .timeline__settings-quality,
.timeline--no-volume .timeline__settings-language,
.timeline--no-volume .timeline__settings-cc {
    right: 170px;
}

.timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-popout,
.timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-quality,
.timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-language,
.timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-cc {
    right: 135px;
}

.timeline__settings-heading {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #818888;
    line-height: 18px;
}

.timeline__settings-heading--clickable,
.timeline__settings-item {
    cursor: pointer;
}

.timeline__settings-heading--clickable:hover .timeline__button-icon,
.timeline__settings-heading--clickable:active .timeline__button-icon,
.focusable.timeline__settings-heading--clickable:focus .timeline__button-icon,
.timeline__settings-item:hover .timeline__button-icon,
.timeline__settings-item:active .timeline__button-icon,
.focusable.timeline__settings-item:focus .timeline__button-icon {
    background-position-y: 100%;
    --timeline-bgY: 100%;
}

.timeline__settings-item:hover .timeline__settings-text,
.timeline__settings-item:active .timeline__settings-text,
.focusable.timeline__settings-item:focus .timeline__settings-text {
    color: #fff;
}

.timeline__settings-icon--left {
    float: left;
    margin-right: 15px;
}

.timeline__settings-text {
    float: left;
    margin-bottom: 9px;
    color: #818888;
    line-height: 25px;
}

.timeline__settings-quality .timeline__settings-text {
    margin-bottom: 0;
}

.timeline__settings-icon--right {
    float: right;
}

.timeline__settings-icon .timeline__button-icon,
.fullscreen .timeline__settings-icon .timeline__button-icon {
    width: 25px;
    height: 25px;
}

.timeline__settings-icon--arrow .timeline__button-icon,
.timeline__settings-icon--small .timeline__button-icon,
.fullscreen .timeline__settings-icon--arrow .timeline__button-icon,
.fullscreen .timeline__settings-icon--small .timeline__button-icon {
    width: 18px;
    height: 18px;
}

.timeline__settings-icon--left.timeline__settings-icon--arrow {
    margin-right: 5px;
    margin-left: -2px;
}

.timeline__settings-icon--left.timeline__settings-icon--small {
    margin: 4px 10px 5px 0;
}

.timeline__settings-icon--right.timeline__settings-icon--small {
    margin: 5px 0 5px 0;
}

.footer {
    color: #3d3d3d;
    background-color: #f0f0f0;
    font-size: 14px;
}

.footer__poweredby {
    text-align: center;
}

.footer__copyright {
    text-align: left;
}

.footer__links {
    text-align: right;
}

.footer__link {
    color: #717171;
    text-decoration: none;
}

.footer__link:hover,
.footer__link:active,
.focusable.footer__link:focus {
    text-decoration: underline;
}

.footer__link--image:hover,
.footer__link--image:active,
.focusable.footer__link--image:focus {
    text-decoration: none;
}

/* iOS devices specific */
@supports (-webkit-overflow-scrolling: touch) {
    .cta--side.cta--5 .cta__button {
        height: calc(20% - 0.5px);
    }
}

/** 720p **/
@media screen and (max-width: 2460px) {
    .header__preparedfor {
        font-size: 14px;
    }

    .header__text {
        padding:20px 0 10px;
    }

    .fullscreen .cta--side .cta__label {
        line-height: 50px;
        font-size: 20px;
    }

    .cta--side {
        height: 720px;
    }

    .cta__icon {
        margin-bottom: 15px;
        width: 50px;
        height: 50px;
    }

    .fullscreen .cta__icon {
        margin-right: calc(((50/230) * 100%) - 25px);
    }

    .cta--side .cta__button {
        font-size: 24px;
    }

    .timeline {
        font-size: 16px;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward,
    .timeline__button--play-pause {
        width: 65px;
    }

    .fullscreen .timeline__button-icon {
        width: 25px;
        height: 25px;
    }

    .fullscreen .timeline__button-icon--play,
    .fullscreen .timeline__button-icon--pause {
        width: 30px;
        height: 30px;
    }

    .footer {
        font-size: 12px;
    }

    .social--top .social__icon,
    .fullscreen .social--top .social__icon {
        width: 32px;
        height: 32px;
    }

    .social--top-right .social__icon {
        margin-right: 5px;
    }

    .social--top-left .social__icon {
        margin-left: 5px;
    }

    .social--top .social__icon--expand {
        margin-right: 0;
        margin-left: 0;
    }

    .timeline__settings-popout,
    .timeline__settings-quality,
    .timeline__settings-language,
    .timeline__settings-cc {
        right: 200px;
    }

    .timeline--no-volume .timeline__settings-popout,
    .timeline--no-volume .timeline__settings-quality,
    .timeline--no-volume .timeline__settings-language,
    .timeline--no-volume .timeline__settings-cc {
        right: 110px;
    }

    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-popout,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-quality,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-language,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-cc {
        right: 85px;
    }

    .header__logo {
        height: 50px;
    }
}

/** 540p **/
@media screen and (max-width: 1640px) {
    .social--top .social__icon,
    .fullscreen .social--top .social__icon {
        width: 28px;
        height: 28px;
    }

    .social--top-right .social__icon {
        margin-right: 4px;
    }

    .social--top-left .social__icon {
        margin-left: 4px;
    }

    .social--top .social__icon--expand {
        margin-right: 0;
        margin-left: 0;
    }

    .fullscreen .cta--side .cta__label {
        line-height: 40px;
        font-size: 18px;
    }

    .cta--side {
        height: 540px;
    }

    .cta__icon {
        margin-bottom: 10px;
        width: 40px;
        height: 40px;
    }

    .fullscreen .cta__icon {
        margin-right: calc(((50/230) * 100%) - 20px);
    }

    .cta--side .cta__button {
        font-size: 18px;
    }

    .timeline {
        font-size: 14px;
    }

    .timeline__button-icon {
        width: 25px;
        height: 25px;
    }

    .timeline__button-icon--play,
    .timeline__button-icon--pause {
        width: 30px;
        height: 30px;
    }

    .fullscreen .timeline__button-icon {
        width: 22px;
        height: 22px;
    }

    .fullscreen .timeline__button-icon--play,
    .fullscreen .timeline__button-icon--pause {
        width: 25px;
        height: 25px;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward,
    .timeline__button--play-pause {
        width: 50px;
    }

    .timeline__button--settings,
    .timeline__button--fullscreen {
        width: 50px;
    }

    .timeline__button--volume {
        width: 40px;
    }

    .timeline__settings-popout,
    .timeline__settings-quality,
    .timeline__settings-language,
    .timeline__settings-cc {
        top: -180px;
        right: 150px;
        padding: 13px;
        height: 180px;
        width: 200px;
        font-size: 15px;
    }

    .fullscreen .timeline__settings-popout,
    .fullscreen .timeline__settings-quality,
    .fullscreen .timeline__settings-language,
    .fullscreen .timeline__settings-cc {
        right: calc(100% - 50px);
    }

    .timeline__settings-heading {
        padding-bottom: 8px;
        line-height: 15px;
    }

    .timeline__settings-icon--arrow .timeline__button-icon,
    .timeline__settings-icon--small .timeline__button-icon,
    .fullscreen .timeline__settings-icon--arrow .timeline__button-icon,
    .fullscreen .timeline__settings-icon--small .timeline__button-icon {
        width: 15px;
        height: 15px;
    }

    .timeline__settings-icon--left.timeline__settings-icon--small {
        margin: 5px 10px 5px 0;
    }

    .timeline--no-volume .timeline__settings-popout,
    .timeline--no-volume .timeline__settings-quality,
    .timeline--no-volume .timeline__settings-language,
    .timeline--no-volume .timeline__settings-cc {
        right: 80px;
    }

    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-popout,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-quality,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-language,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-cc {
        right: 60px;
    }
}

/** 360p **/
@media screen and (max-width: 1230px) {
    .header__text {
        padding: 10px 0;
    }

    .social--top .social__icon {
        width: 26px;
        height: 26px;
    }

    .social--top-right .social__icon {
        margin-right: 3px;
    }

    .social--top-left .social__icon {
        margin-left: 3px;
    }

    .social--top .social__icon--expand {
        margin-right: 0;
        margin-left: 0;
    }

    .fullscreen .cta--side .cta__label {
        line-height: 25px;
        font-size: 16px;
    }

    .cta--side {
        height: 360px;
    }

    .cta__icon {
        margin-bottom: 6px;
        width: 25px;
        height: 25px;
    }

    .fullscreen .cta__icon {
        margin-right: calc(((50/230) * 100%) - 12.5px);
    }

    .cta--side .cta__button {
        font-size: 12px;
    }

    .timeline {
        font-size: 12px;
    }

    .timeline__button-icon {
        width: 20px;
        height: 20px;
    }

    .timeline__button-icon--play,
    .timeline__button-icon--pause {
        width: 25px;
        height: 25px;
    }

    .fullscreen .timeline__button-icon {
        width: 17px;
        height: 17px;
    }

    .fullscreen .timeline__button-icon--play,
    .fullscreen .timeline__button-icon--pause {
        width: 20px;
        height: 20px;
    }

    .fullscreen .timeline__button--settings,
    .fullscreen .timeline__button--fullscreen {
        width: 35px;
    }

    .fullscreen .timeline__button--volume {
        width: 30px;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward,
    .timeline__button--play-pause {
        width: 30px;
    }

    .timeline__button-icon--skip-back {
        margin-right: 4px;
    }

    .timeline__button-icon--skip-forward {
        margin-left: 4px;
    }

    .timeline__button--settings,
    .timeline__button--fullscreen {
        width: 30px;
    }

    .timeline__settings-popout,
    .timeline__settings-quality,
    .timeline__settings-language,
    .timeline__settings-cc {
        width: 180px;
        font-size: 14px;
    }

    .fullscreen .timeline__settings-popout,
    .fullscreen .timeline__settings-quality,
    .fullscreen .timeline__settings-language,
    .fullscreen .timeline__settings-cc {
        right: calc(100% - 40px);
    }

    .timeline--no-volume .timeline__settings-popout,
    .timeline--no-volume .timeline__settings-quality,
    .timeline--no-volume .timeline__settings-language,
    .timeline--no-volume .timeline__settings-cc {
        right: 55px;
    }

    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-popout,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-quality,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-language,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-cc {
        right: 35px;
    }

    .top-wrapper--no-cta .header, .top-wrapper--no-promo .header {
        padding: 0;
    }

    .header__logo {
        height:40px;
    }

}

/** Mobile devices **/
@media screen and (max-width: 820px) {
    .cta--side.cta--5 .cta__button {
        margin-right:0;
        border: none;
    }

    .fullscreen .cta--side .cta__label {
        font-size: 12px;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward {
        width: 30%;
    }

    .timeline__button--play-pause {
        width: 40%;
    }

    .timeline__button--settings {
        width: 100%;
    }

    .timeline__button-icon {
        width: 25px;
        height: 25px;
    }

    .timeline__button-icon--skip-back,
    .timeline__button-icon--skip-forward {
        width: 22px;
        height: 22px;
    }

    .timeline__button-icon--skip-back {
        margin-right: 4px;
    }

    .timeline__button-icon--skip-forward {
        margin-left: 4px;
    }

    .timeline-progress-indicator-ball {
        background-color: #fff;
        border: 3px solid #0072b8;
        border-radius: 12px;
    }

    .timeline__controls--center {
        z-index: 5;
        background-color: #1f1f1f;
    }

    .timeline__settings-popout,
    .timeline__settings-quality,
    .timeline__settings-language,
    .timeline__settings-cc,
    .timeline--no-volume .timeline__settings-popout,
    .timeline--no-volume .timeline__settings-quality,
    .timeline--no-volume .timeline__settings-language,
    .timeline--no-volume .timeline__settings-cc,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-popout,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-quality,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-language,
    .timeline--no-volume .timeline__controls--right-no-fs .timeline__settings-cc {
        right: 0;
    }

    .footer__poweredby,
    .footer__copyright,
    .footer__links {
        text-align: center;
    }
}

/** Mobile devices in landscape and tablet devices in portrait **/
@media screen and (max-width: 820px) {

    .header__text {
        padding: 10px 0;
    }

    .cta--bottom.cta--5 .cta__button {
        margin: 1px 0;
        width: 20%;
        border: none;
    }

    .header__logo {
        width:80%;
        margin:10px auto 0;
        float:none;
        height:40px;
        background-position: center;
    }
}

/** Mobile devices in landscape **/
@media screen and (max-width: 820px) and (orientation: landscape) {

    .cta--1 .cta__button--button-1,
    .cta--2 .cta__button--button-2,
    .cta--3 .cta__button--button-3,
    .cta--4 .cta__button--button-4,
    .cta--5 .cta__button--button-5 {
        border-bottom: 0;
    }
}

/** Mobile devices in portrait **/
@media screen and (max-width: 700px) and (orientation: portrait) {
    .header__logo {
        width: 300px;
    }

    .header__text {
        width:90%;
        margin:0 auto;
    }

    .cta--bottom.cta--5 .cta__button {
        border: 1px solid #0f0f0f;
        border-right: none;
        margin: 0;
    }

    .cta--bottom.cta--5 .cta__button--button-1 {
        border-left: none;
    }

    .fullscreen .cta--side .cta__label {
        font-size: 10px;
    }

    .cta__icon {
        margin-bottom: 10px;
    }

    .cta--bottom .cta__button {
        font-size: 15px;
    }
}

/** Smaller mobile devices **/
@media screen and (max-width: 500px), screen and (max-height: 300px) and (orientation: landscape) {
    .cta__icon {
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
    .timeline__button-icon--skip-forward {
        margin-left: 0px;
    }
}

/** Very small mobile devices **/
@media screen and (max-height: 260px) and (orientation: landscape) {
    .cta__icon {
        margin-bottom: 2px;
    }
}

/** General rules for devices which don't support the hover state **/
@media (any-hover: none) {
    .cta__button:hover,
    .cta__button:active {
        background-color: #0072b8;
    }

    .social--top .social__icon:hover,
    .social--top .social__icon:active,
    .social--top .focusable.social__icon:focus {
        background-position-y: 0;
        --social-bgY: 0;
    }

    .fullscreen .cta--side .cta__button:hover {
        left: -130%;
    }

    .fullscreen .cta--side .cta__button:hover .cta__label {
        opacity: 0;
    }

    .timeline__settings-heading--clickable:hover .timeline__button-icon,
    .timeline__settings-heading--clickable:active .timeline__button-icon,
    .timeline__settings-item:hover .timeline__button-icon,
    .timeline__settings-item:active .timeline__button-icon,
    .timeline__button:hover .timeline__button-icon,
    .timeline__button:active .timeline__button-icon {
        background-position-y: 50%;
        --timeline-bgY: 50%;
    }

    .timeline__settings-item:hover .timeline__settings-text,
    .timeline__settings-item:active .timeline__settings-text {
        color: #818888;
    }

    .promo__link:hover,
    .promo__link:active {
        text-decoration: none;
    }

    .footer__link:hover,
    .footer__link:active {
        text-decoration: none;
    }
}
